.wrapper

  =render partial: 'shared/side_bar'

  .chat-main
    .main-header
      .main-header__group
        %p.main-header__group__name 
          = @group.name
        %p.main-header__group__member
          Member：
          - @group.users.each do |user|
            =  user.name
      .main-header__group-edit Edit
    .main-view
      = render @messages


    .chat-main__form
      = form_for [@group, @message], html: {class: 'create-message'} do |f|
        .input-box
          = f.text_field :content, class:'input-box__text', placeholder: 'type a message'
          = f.label :image, for: 'datafile' do
            = fa_icon 'picture-o', class: 'input-box__image'
            = f.file_field :image, id: 'datafile'
        = f.submit 'Send', class: 'submit-btn'